body {
    margin: 0px;
    padding: 0px;
    background: url(../../Img/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    box-sizing: border-box;
    background-attachment:fixed;
}

.login-box {
    width: 370px;
    height: 470px;
    background: white;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

    .login-box h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        color: black;
    }

    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
        font-family: 'Poppins', sans-serif;
    }

.login-box input {
    width: 100%;
    margin-bottom: 10px;
}

    .login-box input[type="text"],
    .login-box input[type="password"] {
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        color: black;
        font-size: 16px;
        outline: none;
        transition: 300ms all;
        font-family: 'Poppins', sans-serif;
    }

    .login-box .ingresar_btn {
        border: none;
        outline: none;
        height: 40px;
        background: #A5C970;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;
        margin-top: 30px;
        cursor: pointer;
        transition: 300ms all;
        font-family: 'Poppins', sans-serif;
    }

.login-box .ingresar_btn:hover {
    background: #A5D470;
}

.login-box .registrar_btn:hover {
    background: #60627D;
}

    .login-box .registrar_btn {
        border: none;
        outline: none;
        height: 40px;
        background: #6C757D;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;
        margin-top: 5px;
        cursor: pointer;
        transition: 300ms all;
        font-family: 'Poppins', sans-serif;
    }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
        font-family: 'Poppins', sans-serif;
    }

.registrar-box {
    width: 600px;
    height: 1030px;
    background: white;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
    border: 1px solid #ccc;
}

    .registrar-box label {
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        display: block;
    }

    .registrar-box input {
        width: 100%;
        margin-bottom: 20px;
    }

        .registrar-box input[type="text"],
        .registrar-box input[type="password"],
        .registrar-box input[type="email"] {
            border: none;
            border-bottom: 1px solid black;
            height: 40px;
            color: black;
            font-size: 16px;
            outline: none;
            transition: 300ms all;
            font-family: 'Poppins', sans-serif;
        }

    .registrar-box .volver_btn {
        border: none;
        outline: none;
        height: 50px;
        background: #6C757D;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: 300ms all;
        font-family: 'Poppins', sans-serif;
    }

        .registrar-box .volver_btn:hover {
            background: #60627D;
        }

    .registrar-box .registrar_btn:hover {
        background: #A5D470;
    }

    .registrar-box .registrar_btn {
        border: none;
        outline: none;
        height: 50px;
        background: #A5C970;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        transition: 300ms all;
        font-family: 'Poppins', sans-serif;
    }

@media screen and (max-width:730px) {
    .login-box {
        width: 300px;
        height: 440px;
        background: white;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        border-radius: 10%;
        border: 1px solid #ccc;
    }
}

@media screen and (max-width:434px) {
    .login-box {
        width: 250px;
        height: 440px;
        background: white;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        border-radius: 10%;
        border: 1px solid #ccc;
    }
}

.nav_gral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 0%;
    height: 100%;
}

.logo img {
    width: 150px;
    height: 150px;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav_links li {
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:761px) {
    .nav_links {
        width: 70%;
    }
    .nav_links li a {
        font-size: 17px;
    }
}

@media screen and (max-width:653px) {
    .logo img {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width:540px) {
    body {
        overflow-x: hidden;
    }
    .nav_links {
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 10vh;
        /* background-color: #ccc; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav_links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        right: 10px;
    }
}

.nav_active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}